*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: white;
}

header {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px;
    margin-bottom: 30px;
    background-color: rgb(226, 43, 186);
    color: white;
}

h2 {
    margin-left: 10px;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 0px;
}

main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 25px;
}

li {
    list-style: none;
    padding: 5px;
    border-style: dotted;
    border-color: rgb(88, 73, 86);
    margin: 5px 0px 5px -35px;
}

.card {
    background-color: rgb(19, 9, 17);
    border-radius: 5px;
    border-width: 1px;
    margin-bottom: 25px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
    color: white;
    width: 400px;
    padding: 10px;
}

.card-header {
    background-color: rgb(226, 43, 211);
    width: 100%;
    margin-top: -20px;
    border-radius: 5px;
    border-width: 1px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
}

.card-body {
    color: rgb(212, 228, 226);
}